In [3]:
import numpy as np
import pandas as pd

In [4]:
df1 = pd.read_csv("reviews.csv")
df2 = pd.read_csv("reviews 2.csv")
df3 = pd.read_csv("listings.csv")
df4 = pd.read_csv("listings 2.csv")

/opt/anaconda3/envs/geo/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (61,62,94,95) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
df1.head(2)

   listing_id        date
0        3831  2014-09-30
1        3831  2014-11-02

In [9]:
df3.head(2)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
1,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,279,2019-08-29,4.62,1,192

# Filters
- we could limit properties only available for more the (100) number of days
- filter for only entire home/apt

In [10]:
entire = df3[df3.room_type == 'Entire home/apt']
man = entire[entire.neighbourhood_group == 'Manhattan']
man1 = man[man.availability_365 > 100]
man1

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
7,5222,Best Hideaway,7516,Marilyn,Manhattan,East Village,40.72764,-73.97949,Entire home/apt,116,30,94,2016-06-15,0.73,1,347
18,7750,Huge 2 BR Upper East Cental Park,17985,Sing,Manhattan,East Harlem,40.79685,-73.94872,Entire home/apt,190,7,0,NaN,NaN,2,302
25,9357,Midtown Pied-a-terre,30193,Tommi,Manhattan,Hell's Kitchen,40.76715,-73.98533,Entire home/apt,150,10,58,2017-08-13,0.48,1,142
41,12343,BEST BET IN HARLEM,47727,Earl,Manhattan,Harlem,40.81175,-73.94478,Entire home/apt,150,7,100,2019-07-31,0.85,1,317
48,14287,Cozy 1BD on Central Park West in New York City,56094,Joya,Manhattan,Upper West Side,40.78635,-73.97008,Entire home/apt,151,3,80,2019-09-09,0.68,1,109
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48349,38551538,Modern Studio APT in the heart of K-TOWN,137669844,Yeonjoo,Manhattan,Midtown,40.74686,-73.98701,Entire home/apt,170,3,0,NaN,NaN,1,112
48354,38553206,Entire Studio in Downtown Manhattan,275978809,Longfeng,Manhattan,Chinatown,40.71398,-73.99583,Entire home/apt,160,1,0,NaN,NaN,1,356
48357,38553463,(3A) Bright 2 bed in luxury amenity building,278925199,Saul,Manhattan,Upper East Side,40.76094,-73.96148,Entire home/apt,220,30,0,NaN,NaN,10,263
48366,38557280,"convenient location in nyc entire apt,near subway",112452087,Hannah,Manhattan,East Harlem,40.79788,-73.93743,Entire home/apt,400,1,0,NaN,NaN,3,327
48373,38564524,Central Park Elegance,1567562,Maggie,Manhattan,Upper East Side,40.77326,-73.96650,Entire home/apt,175,30,0,NaN,NaN,1,263

# Filter for neighbourhoods
- group by function 
- collapse the data to give the average price per neighberhood

In [15]:
# Mean price per neighberhood
nh = pd.DataFrame(man1.groupby('neighbourhood')['price'].aggregate(np.mean))
nh

                          price
neighbourhood
Battery Park City    850.055556
Chelsea              333.712838
Chinatown            308.450000
Civic Center         200.400000
East Harlem          204.918660
East Village         259.864780
Financial District   274.015837
Flatiron District    530.695652
Gramercy             404.487805
Greenwich Village    376.311111
Harlem               212.365979
Hell's Kitchen       277.545902
Inwood               148.000000
Kips Bay             282.082759
Little Italy         261.935484
Lower East Side      320.676471
Marble Hill          131.000000
Midtown              287.330325
Morningside Heights  194.222222
Murray Hill          247.975524
NoHo                 413.260870
Nolita               298.016949
Roosevelt Island     160.000000
SoHo                 482.217949
Stuyvesant Town      222.250000
Theater District     306.738739
Tribeca              537.111111
Two Bridges          198.750000
Upper East Side      220.166983
Upper West Side      284.121718
Washington Heights   172.509804
West Village         344.342541

# Date filters

we need to find the first listing for each location 
- USE df 1 and merge on listing id
- RENAME DF1 to ID

In [33]:
df1 = df1.rename(columns={'listing_id': 'id'})
df1['date'] = pd.to_datetime(df1['date'])
df1 = pd.DataFrame(df1.groupby('id')['date'].min()) #min dates for each listing

In [34]:
DF = pd.merge(man1, df1, on = 'id')
DF

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,date
0,5222,Best Hideaway,7516,Marilyn,Manhattan,East Village,40.72764,-73.97949,Entire home/apt,116,30,94,2016-06-15,0.73,1,347,2009-02-23
1,9357,Midtown Pied-a-terre,30193,Tommi,Manhattan,Hell's Kitchen,40.76715,-73.98533,Entire home/apt,150,10,58,2017-08-13,0.48,1,142,2009-10-04
2,12343,BEST BET IN HARLEM,47727,Earl,Manhattan,Harlem,40.81175,-73.94478,Entire home/apt,150,7,100,2019-07-31,0.85,1,317,2010-01-02
3,14287,Cozy 1BD on Central Park West in New York City,56094,Joya,Manhattan,Upper West Side,40.78635,-73.97008,Entire home/apt,151,3,80,2019-09-09,0.68,1,109,2010-01-01
4,14322,Beautiful Apartment in Manhattan!!!,56284,Francesca,Manhattan,Kips Bay,40.73961,-73.98074,Entire home/apt,200,7,19,2019-03-25,0.21,1,316,2012-04-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3871,38384178,Luxe Hotel-style Studio close to everything,5079088,David,Manhattan,Theater District,40.76210,-73.98232,Entire home/apt,500,21,3,2019-09-11,3.00,1,143,2019-09-09
3872,38397274,Bright & stylish 2BR in Manhattan,291713244,Hugo,Manhattan,Hell's Kitchen,40.76072,-73.99815,Entire home/apt,375,3,1,2019-09-11,1.00,1,302,2019-09-11
3873,38433533,★SuperHOST★/4Beds/TIME SQUARE/PERFECT FOR U,12864023,Aden,Manhattan,Hell's Kitchen,40.76074,-73.98819,Entire home/apt,700,4,2,2019-09-10,2.00,1,143,2019-09-08
3874,38472778,Stylish Upper East Side Penthouse,293324549,Daniel,Manhattan,Upper East Side,40.78022,-73.94873,Entire home/apt,149,2,1,2019-09-11,1.00,1,312,2019-09-11
3875,38486383,Sonder | 116 John | Restful 2BR + Gym,219517861,Sonder (NYC),Manhattan,Financial District,40.70829,-74.00519,Entire home/apt,535,2,2,2019-09-10,2.00,387,283,2019-09-10